# See systemd.timers and systemd.time manpages for details
[Unit]
Description=Run borg backup regularly, i.e. quarterly

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
