# See systemd.timers and systemd.time manpages for details
[Unit]
Description=Run borg upload regularly, i.e. hourly XX:05

[Timer]
OnCalendar=*:05
Persistent=true

[Install]
WantedBy=timers.target
