[Unit]
Description=Run complete backup of borclone (%i) including upload

[Service]
User=${USER}
ExecStart=/usr/local/bin/borclone backup  -c /etc/borclone.d/%i.conf
